[Unit]
Description=manage doryd service for HPE 3PAR Volume plugin for Docker

[Service]
Type=simple
ExecStart=/var/lib/kubelet/volume-plugins/exec/hpe.com~hpe/doryd /etc/kubernetes/admin.conf hpe.com
Restart=on-abort

[Install]
WantedBy=multi-user.target
